@model VideoTapeViewModels

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> @(Model.VideoTape.Id != 0 ? "Update" : "Create") VideoTape</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="VideoTape.Id" hidden />
            <input asp-for="VideoTape.ImageUrl" hidden/>

            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                        @*<div asp-validation-summary="ModelOnly"></div>*@
                        <div class="form-floating py-2 col-12">
                            <input asp-for="VideoTape.Title" class="form-control border-0 shadow" />
                            <label asp-for="VideoTape.Title" class="ms-2"></label>
                            <span asp-validation-for="VideoTape.Title" class="text-danger"></span>
                        </div>
                        <div class="py-2 col-12">
                            <label asp-for="VideoTape.Director" class="ms-2 text-muted"></label>
                            <textarea asp-for="VideoTape.Director" class="form-control border-0 shadow"></textarea>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="VideoTape.Year" class="form-control border-0 shadow" />
                            <label asp-for="VideoTape.Year" class="ms-2"></label>
                            <span asp-validation-for="VideoTape.Year" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="VideoTape.PriceRent" class="form-control border-0 shadow" />
                            <label asp-for="VideoTape.PriceRent" class="ms-2"></label>
                            <span asp-validation-for="VideoTape.PriceRent" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="VideoTape.PriceBuy" class="form-control border-0 shadow" />
                            <label asp-for="VideoTape.PriceBuy" class="ms-2"></label>
                            <span asp-validation-for="VideoTape.PriceBuy" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <select asp-for="@Model.VideoTape.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
                                <option disabled selected>--Select Category--</option>
                            </select>
                            <label asp-for="VideoTape.CategoryId" class="ms-2"></label>
                            <span asp-validation-for="VideoTape.CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input type="file" name="files" class="form-control border-0 shadow" multiple />
                            <label asp-for="VideoTape.ImageUrl" class="ms-2"></label>
                        </div>
                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                @if (Model.VideoTape.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                                }
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="VideoTape" asp-action="Index" class="btn btn-outline-primary border  form-control">
                                    Back to List
                                </a>
                            </div>
                        </div>


                    </div>
                </div>          
            </div>

        </form>
    </div>
</div>




@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons  lists   table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  align lineheight | numlist bullist indent outdent',
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}