@model VideoTapeViewModels

@{
    ViewData["Title"] = "Create";
}



<form method="post">
    <div class="border p-1 mt-4" >
        <div class="row mb-2 pb-2">
            <h2 class="text-center">
                Create VideoTape
            </h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3 row p-3">
            <label asp-for="VideoTape.Title" class="p-1"></label>
            <input asp-for="VideoTape.Title" class="form-control" />
            <span asp-validation-for="VideoTape.Title" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-3">
            <label asp-for="VideoTape.Year" class="p-1"></label>
            <input asp-for="VideoTape.Year" class="form-control" />
            <span asp-validation-for="VideoTape.Year" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-3">
            <label asp-for="VideoTape.Director" class="p-1"></label>
            <input asp-for="VideoTape.Director" class="form-control" />
            <span asp-validation-for="VideoTape.Director" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-3">
            <label asp-for="VideoTape.PriceBuy" class="p-1"></label>
            <input asp-for="VideoTape.PriceBuy" class="form-control" />
            <span asp-validation-for="VideoTape.PriceBuy" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-3">
            <select asp-for="@Model.VideoTape.CategoryId"  asp-items="@Model.CategoryList" class="from-select border-0 shadow" >
            <option disabled selected>--Select Category--</option>
            </select>
            <label asp-for="VideoTape.CategoryId" class="p-0"></label>
            <span asp-validation-for="VideoTape.CategoryId" class="text-danger"></span>
         </div>
        <div class="mb-3 row p-3">
            <label asp-for="VideoTape.ImageUrl" class="p-1"></label>
            <input asp-for="VideoTape.ImageUrl" class="form-control" />
            <span asp-validation-for="VideoTape.ImageUrl" class="text-danger"></span>
        </div
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class=" btn btn-primary form-control">Create</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="VideoTape" asp-action="Index" class="btn btn-secondary border form-control"> Back to List </a>
            </div>
        </div>
    </div>

</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}